﻿@model MagicWebservices.Controllers.Mortis.NewpointsShopManager.NewpointsShopManagerData
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Newpoints Shop Manager</title>
</head>
<body style="background:none">
<div>
    <h2 style="text-align: center">@Model.CurrentUser.username nie ma tu wstępu!</h2>
    <h2 style="text-align: center">Nawet Alohomora ci tu nie pomoże!</h2>
</div>
</body>
</html>
