﻿@model MagicWebservices.Controllers.Processes.ProcessGroupResult

@{
    ViewBag.Title = @Model.ProcessGroupName;
    Layout = null;
}

<h2>ProcessesReport</h2>

<div>
@Html.Raw(Model.GroupResultMessage().Replace("\n", "<br/>"))
</div>

