﻿@model MagicWebservices.Models.Report

@{
    ViewBag.Title = @Model.Name;
    Layout = null;
}

<h2>ProcessesReport</h2>

<div>
@Html.Raw(HttpUtility.HtmlEncode(Model.Data)?.Replace("\n", "<br/>"))
</div>

